<%- include('../../views/partials/user/header.ejs', {isLogin: typeof isLogin !== 'undefined' ? isLogin : false}) %>
<% if (messages.error) { %>
    <div class="alert alert-danger">
        <%= messages.error %>
    </div>
<% } %>

<% if (messages.success) { %>
    <div class="alert alert-success">
        <%= messages.success %>
    </div>
<% } %>

			
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/download2.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-sm-6 offset-sm-3 text-center slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">Men's</h1>
					   					<h2 class="head-2">Shoes</h2>
					   					<h2 class="head-3">Collection</h2>
					   					<p class="category"><span>New trending shoes</span></p>
					   					<p><a href="/Shopping_page" class="btn btn-primary">Shop Collection</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(/images/Classic\ Chelsea\ Boots3.webp);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-sm-6 offset-sm-3 text-center slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">Huge</h1>
					   					<h2 class="head-2">Sale</h2>
					   					<h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
					   					<p class="category"><span>Big sale sandals</span></p>
					   					<p><a href="/Shopping_page" class="btn btn-primary">Shop Collection</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(images/download4.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-sm-6 offset-sm-3 text-center slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">New</h1>
					   					<h2 class="head-2">Arrival</h2>
					   					<h2 class="head-3">up to <strong class="font-weight-bold">30%</strong> off</h2>
					   					<p class="category"><span>New stylish shoes for men</span></p>
					   					<p><a href="/Shopping_page" class="btn btn-primary">Shop Collection</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2 class="intro">It started with a simple idea: Create quality, well-designed products that I wanted myself.</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="colorlib-product">
			<div class="container">
				<div class="row category-box">
					<% categories.forEach(category => { %>
						<div id="<%= category.categoryname %>Div" class=" text-center mb-4">
							<div class="featured">
								<a href="/category_collection/<%= category._id %>" class="featured-img" 
								   style="background-image: url('<%= category.categoryImage %>');"></a>
								<div class="desc">
									<h4><a href="/category_collection/<%= category._id %>"><%= category.categoryname %></a></h4>
								</div>
							</div>
						</div>
					<% }); %>
				</div>
			</div>
			
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
						<h2>Best Offers</h2>
					</div>
				</div>
				<div class="row row-pb-md">
					<% products.forEach(product => { %>
						<div class="col-lg-3 mb-4 text-center">
						  <div class="product-entry underdetail border">
							<a href="/product_details/<%= product._id %>" class="prod-img">
								<img src="<%= product.productImages?.[1]?.startsWith('http')
								? product.productImages[1]
								: 'http://localhost:3000/uploads/' + (product.productImages?.[1] || 'default.jpg') %>" 
								class="img-fluid" 
								alt="<%= product.productname %>">
							
							</a>
							<div class="desc">
								<a href="/addWishlist/<%- product._id %>" class="wishlist-btn">
									<% if (wishlistedProductIds.includes(product._id.toString())) { %>
										<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323">
											<path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z"/>
										</svg>
									<% } else { %>
										<span class="material-symbols-outlined favourited-icon">favorite</span>
									<% } %>    
								</a>
							  <h2><a href="/product_details/<%= product._id %>"><%= product.productname %></a></h2>
							  <span class="brand"><%= product.brand %></span>
							  <span class="price">₹<%= product.SalePrice %>  <del class="strike">₹<%= product.price %></del> 
							  <span class="offerper">(<%= product.productOffer%>% off)</span></span>
							  
							</div>
						  </div>
						</div>
					  <% }); %>
					  
					
				</div>
			</div>
		</div>
				
				<div class="row">
					<div class="col-md-12 text-center">
						<p><a href="/Shopping_page" class="btn btn-primary btn-lg">Shop All Products</a></p>
					</div>
				</div>
			</div>
		</div>

		<!-- Toastify CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<!-- Toastify JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
document.querySelectorAll(".wishlist-btn").forEach((link) => {
			link.addEventListener("click", async (event) => {
				event.preventDefault();

				const productId = link.getAttribute("href").split("/").pop();

				try {
					const response = await fetch(`/AddToWishlist/${productId}`, {
						method: "POST",
						headers: { "Content-Type": "application/json" },
					});

					const data = await response.json();

					Toastify({
						text: data.success ? "Added to Wishlist!" : "Already in Wishlist!",
						duration: 1000,
						gravity: "top",
						position: "center",
						style: { 
							background: data.success 
								? "linear-gradient(to right, #00b09b, #96c93d)" 
								: "linear-gradient(to right, #ff5f6d, #ffc371)" 
						},
						stopOnFocus: true,
					}).showToast();

					setTimeout(() => {
						window.location.reload();
					}, 500);

				} catch (error) {
					Toastify({
						text: "Something went wrong!",
						duration: 3000,
						gravity: "top",
						position: "center",
						style: { 
							background: "linear-gradient(to right, #ff5f6d, #ffc371)" 
						},
						stopOnFocus: true,
					}).showToast();
				}
			});
		});

</script>
		<%-include('../../views/partials/user/footer.ejs')%>