<%- include('../../views/partials/user/header.ejs', {isLogin: typeof isLogin !== 'undefined' ? isLogin : false}) %>

		

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread">
							<% breadcrumbs.forEach((crumb, index) => { %>
								<span>
									<a style="color:tomato;" href="<%= crumb.url %>"><%= crumb.name %></a>
								</span>
								<% if (index < breadcrumbs.length - 1) { %> / <% } %>
							<% }) %>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<!-- Product Carousel -->
					<div class="col-sm-8">
						<div class="row">
							<!-- Left Section: Thumbnails -->
							<div class="col-md-2">
								<div >
									<% product.productImages.forEach((image, index)=> { %>  
										<div class="item">
											<div class="product-entry border ">
												<a href="#" class="prod-img" onclick="showLargeImage('<%= image %>'); return false;">
													<img src="<%= image.startsWith('http') ? image : '/uploads/' + image %>" class="img-fluid bg-dark" alt="Thumbnail <%= index + 1 %>">
												</a>
											</div>
										</div>
									<% }); %>
								</div>
							</div>
				
							<!-- Right Section: Big Image -->
							<div class="col-md-8">
								<div class="zoom-container" 
									 id="zoom-container" 
									 style="position: relative; overflow: hidden; width: 100%; height: 500px;">
									<div class="image-wrapper" 
										 style="position: relative; overflow: auto; width: 100%; height: 100%;">
										<img id="zoom-image" 
											 src="<%= product.productImages[0].startsWith('http') ? product.productImages[0] : '/uploads/' + product.productImages[0]  %>" 
											 class="img-fluid" 
											 alt="Main Product Image" 
											 style="transition: transform 0.3s ease;">
									</div>
									<button id="zoom-toggle" 
											style="position: absolute; bottom: 10px; right: 10px; z-index: 10; padding: 10px 15px; font-size: 16px; cursor: pointer;">
										+
									</button>
								</div>
							</div>							
						</div>
					</div>
				
					<!-- Product Details -->
					<div class="col-sm-4">
						<div class="product-desc">
							<h3><%= product.productname %></h3>
							<span class="brand"><%= product.brand %></span>
						
							<p><%= product.description %></p>
							<!-- Size options -->
							<div class="size-wrap">
								<div class="block-26 mb-2 ">
									<h3> size-UK/India</h3>
									<ul>
										<% let availableSizes = Object.entries(product.sizes).filter(([size, quantity]) => quantity > 0); %>
										<% if (availableSizes.length > 0) { %>
											<% let firstSize = availableSizes[0][0]; %> <!-- Get the first available size -->
									
											<% availableSizes.forEach(([size, quantity]) => { %>
												<li>
													<button class="btn size-btn <%= size === firstSize ? 'active' : '' %>" 
															data-size="<%= size %>" 
															onclick="selectSize('<%= size %>')"
															id="size-<%= size %>">
														<%= size %>
													</button>
												</li>
											<% }) %>
									
											<input type="hidden" id="selectedSize" name="selectedSize" value="<%= firstSize %>">
									
											<script>
												document.addEventListener("DOMContentLoaded", function () {
													selectSize("<%= firstSize %>");
												});
											</script>
										<% } else { %>
											<li class="bg-warning">No sizes available</li>
										<% } %>
									</ul>
									
									
									
								</div>
							</div>
							
							<div class="size-wrap">
								<div class="block-26 mb-2">
									<h4> Product Color</h4>
									<ul>
										<% product.colors.forEach(function(color) { %>
											<li><%= color %> </li>
										<% }); %>
									</ul>
								</div>
							</div>
							<span class="price" style="font-size:xx-large;color:tomato; ">₹<%= product.SalePrice %>  <del class="strike" style="font-size:medium;color: black;">₹<%= product.price %></del> <span class="offerper">(<%= product.productOffer%>% off)</span></span>

							<div class="row">
								<div class="col-lg-6 text-center">
									<p class="addtocart">
										<a href="/Addtocart/<%- product._id %>" class="btn cartlist btn-addtocart">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
												<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
											  </svg>  Add to Cart
										</a>
									</p>
								</div>
								<div class="col-lg-6 text-center ">
									<p class="buyNow">
										<a href="/buyNow" class="btn  BuyNow btn-addtocart">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
												<path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
											  </svg> Buy  Now
										</a>
									</p>
								</div>
								<div class="col-lg-6 text-center ">
									<p class="addtowishlish ">
										<a href="/addWishlist/<%- product._id %>" class="wishlist-btn wishlist btn">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="goldenrod" class="bi bi-heart" viewBox="0 0 16 16">
												<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
											  </svg> Add to Wishlist
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>		

		<div class="container ">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
					<h2 class="Collectionhead" >Related Products</h2>
				</div>
			</div>
			<div class="row  row-pb-md">
				<% products.forEach(product => { %>
					<div class="col-lg-3 mb-4 text-center">
						<div class="product-entry underdetail border">
							<a href="/product_details/<%= product.id %>" class="prod-img" >
								<img src="<%= (product.productImages && product.productImages[0] && product.productImages[0].startsWith('http')) 
								? product.productImages[0] 
								: 'http://localhost:3000/uploads/' + (product.productImages[0] || '') %>" 
								   class="img-fluid" 
								   alt="<%= product.productname %>" />
							</a>
							<div class="desc">
								<a href="/addWishlist/<%- product._id %>" class="wishlist-btn">
									<% if (wishlistedProductIds.includes(product._id.toString())) { %>
										<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323">
											<path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z"/>
										</svg>
									<% } else { %>
										<span class="material-symbols-outlined favourited-icon">favorite</span>
									<% } %>    
								</a>
								<h2><a href="/product_details/<%= product.id %>"><%= product.productname %></a></h2>
								<span class="brand"><%= product.brand %></span>
								
								<span class="price">₹<%= product.SalePrice %>  <del class="strike">₹<%= product.price %></del> <span class="offerper">(<%= product.productOffer%>% off)</span></span>

							</div>
						</div>
					</div>
				<% }); %>
			</div>
	    </div>
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-12 pills">
								<div class="bd-example bd-example-tabs">
								  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

								    <li class="nav-item">
								      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Description</a>
								    </li>
								    <li class="nav-item">
								      <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Manufacturer</a>
								    </li>
								    <li class="nav-item">
								      <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
								    </li>
								  </ul>

								  <div class="tab-content" id="pills-tabContent">
								    <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
								      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
										<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
										<ul>
											<li>The Big Oxmox advised her not to do so</li>
											<li>Because there were thousands of bad Commas</li>
											<li>Wild Question Marks and devious Semikoli</li>
											<li>She packed her seven versalia</li>
											<li>tial into the belt and made herself on the way.</li>
										</ul>
								    </div>

								    <div class="tab-pane border fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
								      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
										<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
								    </div>

								    <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
								      <div class="row">
								   		<div class="col-md-8">
								   			<h3 class="head">23 Reviews</h3>
								   			<div class="review">
										   		<div class="user-img" style="background-image: url(images/person1.jpg)"></div>
										   		<div class="desc">
										   			<h4>
										   				<span class="text-left">Jacob Webb</span>
										   				<span class="text-right">14 March 2018</span>
										   			</h4>
										   			<p class="star">
										   				<span>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-half"></i>
										   					<i class="icon-star-empty"></i>
									   					</span>
									   					<span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
										   			</p>
										   			<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
										   		</div>
										   	</div>
										   	<div class="review">
										   		<div class="user-img" style="background-image: url(images/person2.jpg)"></div>
										   		<div class="desc">
										   			<h4>
										   				<span class="text-left">Jacob Webb</span>
										   				<span class="text-right">14 March 2018</span>
										   			</h4>
										   			<p class="star">
										   				<span>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-half"></i>
										   					<i class="icon-star-empty"></i>
									   					</span>
									   					<span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
										   			</p>
										   			<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
										   		</div>
										   	</div>
										   	<div class="review">
										   		<div class="user-img" style="background-image: url(images/person3.jpg)"></div>
										   		<div class="desc">
										   			<h4>
										   				<span class="text-left">Jacob Webb</span>
										   				<span class="text-right">14 March 2018</span>
										   			</h4>
										   			<p class="star">
										   				<span>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-half"></i>
										   					<i class="icon-star-empty"></i>
									   					</span>
									   					<span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
										   			</p>
										   			<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
										   		</div>
										   	</div>
								   		</div>
								   		<div class="col-md-4">
								   			<div class="rating-wrap">
									   			<h3 class="head">Give a Review</h3>
									   			<div class="wrap">
										   			<p class="star">
										   				<span>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					(98%)
									   					</span>
									   					<span>20 Reviews</span>
										   			</p>
										   			<p class="star">
										   				<span>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-empty"></i>
										   					(85%)
									   					</span>
									   					<span>10 Reviews</span>
										   			</p>
										   			<p class="star">
										   				<span>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-empty"></i>
										   					<i class="icon-star-empty"></i>
										   					(70%)
									   					</span>
									   					<span>5 Reviews</span>
										   			</p>
										   			<p class="star">
										   				<span>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-empty"></i>
										   					<i class="icon-star-empty"></i>
										   					<i class="icon-star-empty"></i>
										   					(10%)
									   					</span>
									   					<span>0 Reviews</span>
										   			</p>
										   			<p class="star">
										   				<span>
										   					<i class="icon-star-full"></i>
										   					<i class="icon-star-empty"></i>
										   					<i class="icon-star-empty"></i>
										   					<i class="icon-star-empty"></i>
										   					<i class="icon-star-empty"></i>
										   					(0%)
									   					</span>
									   					<span>0 Reviews</span>
										   			</p>
										   		</div>
									   		</div>
								   		</div>
								   	</div>
								    </div>
								  </div>
								</div>
				         </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		<!-- Toastify CSS -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
		<!-- Toastify JS -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

		<script>
		document.addEventListener("DOMContentLoaded", function () {
			let firstSizeBtn = document.querySelector(".size-btn");
			if (firstSizeBtn) {
				firstSizeBtn.classList.add("active"); 
			}
		});

		function selectSize(size) {
			console.log("Selected Size:", size);

			document.querySelectorAll(".size-btn").forEach(btn => btn.classList.remove("active"));

			let selectedBtn = document.querySelector(`[data-size='${size}']`);
			if (selectedBtn) selectedBtn.classList.add("active");

			document.getElementById('selectedSize').value = size;
		}


		document.addEventListener("DOMContentLoaded", function () {
			const addToCartButtons = document.querySelectorAll(".btn-addtocart");
			console.log("Product ID in EJS:", "<%= product._id %>");

			addToCartButtons.forEach(button => {
				button.addEventListener("click", async function (event) {
					event.preventDefault();
					const selectedSize = document.getElementById('selectedSize').value

					const productId = this.getAttribute("href").split("/").pop();
					console.log("Extracted Product ID:", productId); 

					const url = `/Addtocart/${productId}`;

					try {
						const response = await fetch(url, {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify({ selectedSize }),
						});

						const data = await response.json();

						if (data.success) {
							Swal.fire({
								icon: "success",
								title: "Success",
								text: data.message
							}).then(() => {
								window.location.reload();
							});
						} else {
							Swal.fire({
								icon: "info",
								title: "Information",
								text: data.message
							});
						}
					} catch (error) {
						Swal.fire({
							icon: "error",
							title: "Error",
							text: "Something went wrong. Please try again."
						});
					}
				});
			});
		});



			function showLargeImage(imagePath) {
				document.getElementById("zoom-image").src = imagePath.startsWith('http') ? imagePath : "/uploads/" + imagePath;
			}
			document.addEventListener('DOMContentLoaded', () => {
				const zoomImage = document.getElementById('zoom-image');
				const zoomToggle = document.getElementById('zoom-toggle');
				const zoomContainer = document.getElementById('zoom-container');
				const imageWrapper = document.querySelector('.image-wrapper');
				let isZoomedIn = false;

				zoomImage.addEventListener('click', (event) => {
					const rect = zoomImage.getBoundingClientRect();
					const x = (event.clientX - rect.left) / rect.width * 100;
					const y = (event.clientY - rect.top) / rect.height * 100;

					if (isZoomedIn) {
						// Zoom out
						zoomImage.style.transform = 'scale(1)';
						zoomContainer.style.width = '100%';
						zoomContainer.style.height = '500px';
						imageWrapper.scrollLeft = 0;
						imageWrapper.scrollTop = 0;
						zoomToggle.textContent = '+';
					} else {
						// Zoom in
						zoomImage.style.transform = `scale(2)`;
						zoomImage.style.transformOrigin = `${x}% ${y}%`;
						zoomContainer.style.width = '650px'; 
						zoomContainer.style.height = '550px';
						zoomToggle.textContent = '-';
					}

					isZoomedIn = !isZoomedIn;
				});

				zoomToggle.addEventListener('click', () => {
					zoomImage.style.transform = 'scale(1)';
					zoomContainer.style.width = '100%';
					zoomContainer.style.height = '400px';
					imageWrapper.scrollLeft = 0;
					imageWrapper.scrollTop = 0;
					zoomToggle.textContent = '+';
					isZoomedIn = false;
				});
			});


			document.querySelectorAll(".wishlist-btn").forEach((link) => {
			link.addEventListener("click", async (event) => {
				event.preventDefault();

				const productId = link.getAttribute("href").split("/").pop();

				try {
					const response = await fetch(`/AddToWishlist/${productId}`, {
						method: "POST",
						headers: { "Content-Type": "application/json" },
					});

					const data = await response.json();

					Toastify({
						text: data.success ? "Added to Wishlist!" : "Already in Wishlist!",
						duration: 1000,
						gravity: "top",
						position: "center",
						style: { 
							background: data.success 
								? "linear-gradient(to right, #00b09b, #96c93d)" 
								: "linear-gradient(to right, #ff5f6d, #ffc371)" 
						},
						stopOnFocus: true,
					}).showToast();

					setTimeout(() => {
						window.location.reload();
					}, 500);

				} catch (error) {
					Toastify({
						text: "Something went wrong!",
						duration: 3000,
						gravity: "top",
						position: "center",
						style: { 
							background: "linear-gradient(to right, #ff5f6d, #ffc371)" 
						},
						stopOnFocus: true,
					}).showToast();
				}
			});
		});


		</script>
		<style>
			.size-btn{
				color: #000000;
				border: 1px solid #ffcc00;
			}
			.size-btn.active {
				background-color: #ffcc00 !important; 
				color: black;
				font-weight: bold;
			}
		</style>
		
		<%-include('../../views/partials/user/footer.ejs')%>